html {
    font-family: sans-serif; 
    line-height: 1.15; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}
body
{
	margin: 0px;
}
p
{
	font-size: 30px;
	text-align: center;
	color: white;
}
.BackGround
{
	margin: 0px;
	padding: 0px;
	position:relative;
}
.WeiChat
{
	position:absolute;
	font-family: STXihei;
	top: 50px;
	left: 50px;
}
.WeiBo
{
	position: absolute;
	font-family: STXihei;
	top: 470px;
	left: 50px;
}
.Poetry
{
	position:absolute;
	font-size: 30px;
	font-family: STKaiti;
	/*color: #FFE4B5;*/
	color: white;
	top: 50px;
	left: 380px;
}
.Sentence
{
	position:absolute;
	font-family:"Times New Roman";
	font-size: 30px;
	color:white;
	top:700px;
	left:450px;
}
#BackGroundPicture
{
	width: 100%;
}
#WeiChatPicture #WeiBoPicture
{
	width: 200px;
	height: 200px;
}