body
{
	margin: 0;
	padding:0;
	background-color: #7CFC00;
}
#list
{
	position: absolute;
	height:500px;
	width:14000px;
}
#Content
{
	overflow: hidden;
	height:500px;
	width:100%;
	position: relative;
}
.image img
{
	z-index:1;
	float:right;
	width:1366px;
	height:500px;
}
#Buttons
{
	left:167px;
	bottom: 20px;
	position:absolute;
	z-index: 2;
}
.title
{
	position:absolute;
	clear:both;
	margin-top: 30px;
	margin-left: 20px;
	width:400px;
	font-size: 30px;
}
.image
{
	float:left;
	z-index:1;
	position:relative;
	height:500px;
	width:1366px;
}
.subtitle
{
	left: 50px;
	top: 200px;
	position:absolute;
	padding:10px;
	font-size: 20px;
	background-color: white;
}